<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EliminarDatosDocente</servlet-name>
        <servlet-class>com.datos.EliminarDatosDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarDatosMateria</servlet-name>
        <servlet-class>com.materia.EliminarDatosMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresoDatosMateria</servlet-name>
        <servlet-class>com.materia.IngresoDatosMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteMaterias</servlet-name>
        <servlet-class>com.materia.ReporteMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarDatosDocente</servlet-name>
        <servlet-class>com.datos.ModificarDatosDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarDatosMateria</servlet-name>
        <servlet-class>com.materia.ModificarDatosMateria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarDatosDocente</servlet-name>
        <url-pattern>/EliminarDatosDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarDatosMateria</servlet-name>
        <url-pattern>/EliminarDatosMateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresoDatosMateria</servlet-name>
        <url-pattern>/IngresoDatosMateria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteMaterias</servlet-name>
        <url-pattern>/ReporteMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarDatosDocente</servlet-name>
        <url-pattern>/ModificarDatosDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarDatosMateria</servlet-name>
        <url-pattern>/ModificarDatosMateria</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
